@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins";
    

}
body{
    background-image: url('https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c25vd3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    margin-top: 90px;
}
.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hours-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seconds-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.minutes-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.days-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.big{
    font-size: 4rem;
    font-weight:900;
}
span{
    margin: 30px 100px;
    font-size: 30px;
}